<h1>Hogwarts School for Wiiiiiiizards</h1>

<% @houses.each do |house| %>
  <h2><%= house.name %></h2>
  <p>This house has <%= pluralize house.points, 'point' %>.</p>
  <p>For a list of students in this house, <%= link_to 'click here', house %>.</p>
<% end %>