<h1>Hogwarts School for Wiiiiiiizards</h1>

<% @houses.each do |house| %>
  <h2><%= house.name %></h2>
  <p>This house has <%= pluralize house.points, 'point' %>.</p>
  <ul>
    <% house.students.each do |student| %>
      <li><%= student.name %></li>
    <% end %>
  </ul>
<% end %>