<h2><%= @house.name %></h2>

<p>This house has <%= pluralize @house.points, 'point' %>.</p>
<ul>
  <% @house.students.each do |student| %>
    <li><%= link_to student.name, student %></li>
  <% end %>
</ul>

<p><%= link_to 'Home', root_path %></p>