<h1><%= @teacher.name %></h1>

<p>
  <%= @teacher.name %> belongs to house
  <%= link_to @teacher.house.name, @teacher.house%> and
  they have <%= pluralize @teacher.appointments.size, 'appointment' %>.
</p>