<h1>Appointments</h1>

<% if @appointments.empty? %>
  <p>There are no appointments.</p>
<% else %>
  <ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= appointment.teacher.name %> will be meeting with
      <%= link_to appointment.student.name, appointment.student %> on <%= appointment.scheduled %>.
    </li>
  <% end %>
  </ul>
<% end %>