<h1>Appointments</h1>

<ul>
<% @appointments.each do |appointment| %>
  <li>
    <%= appointment.teacher.name %> will be meeting with
    <%= appointment.student.name %> on <%= appointment.scheduled %>.
  </li>
<% end %>
</ul>